@charset "utf-8";
/* CSS Document */

* {margin:0;padding:0; vertical-align:middle;}
@font-face { font-family:'NanumGothic';
			src:url(../imgs/nanum.eot); 
			src:local('☺'), url(../imgs/nanum.woff) format("woff") , url(../imgs/nanum.ttf) format("truetype");
}
body {
	margin:0;
	padding:0;
	font-family: "Dotum", Arial,serif;
	font-size: 1em;
	color: #666;
	background-color: #FFF;
	background-image: url(../imgs/body_back.gif);
	background-repeat: repeat-x;
	background-position: top; 
}
img {border:none;}
a {text-decoration: none;color: #666;}
a:hover {color: #F60;text-decoration: none;}
.clear {clear:both;}
#wrap {width:995px;;margin:0 auto;padding:0;} 
header {
	margin-top:20px;
}
header #logo {
	margin-left:10px;
	float:left;
}

header #head_link {
	float:right;
	margin-right:10px;
	font-size:0.75em;
}
header #head_link ul {
	list-style:none;	
}
header #head_link li {
	float:left;
	padding:0 8px;
	border-right:1px solid #999;
}
#head_link .no_line {
	border-right:none;
}

header #search {
	margin:0 10px 0 0; 
	padding:0;
	float:right;
	margin-top:20px;
}

header #search .main_input {
	width:260px;
	height:22px;
	border:#336699 3px solid;
	padding:0 5px;
}
header #search .btn1 {
	background-color:#369;
	border:solid 1px #369;
	color: #FFF;
	height:28px;
	width:55px;
	margin-left:2px;
} 


/* 메인 메뉴 시작 */
aside {float:left;width:205px;}

nav {
	margin:25px 0 0 10px;
	font-size:0.8em;
	font-family:'NanumGothic', Serif;
}

nav ul {list-style:none;}
nav ul li {padding:5px 10px;text-transform: uppercase;}
nav ul li a {display:block;}

nav ul li h3 {
	border:1px solid #CCC;
	border-radius:20px;
	padding:5px 20px;
	font-size:14px;
	text-transform: capitalize;
	background-color: #e5e5e5;
	background-image: url(../imgs/nav_back.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

nav ul li ul {margin:10px 0 0 0;} 
nav ul li ul li {padding:0 0 0 20px;line-height: 2em;}

/* 배너 및 공지사항 */


aside #banner {margin:10px 15px;}

#notice {margin:20px 0 15px 15px;font-size:0.75em;}
#notice h2 {
	font-family:'NanumGothic';
	color: #336699;
	font-size:1.2em;
	border-bottom:1px solid #336699;
	padding:2px 0 5px 10px;
	background-image: url(../imgs/notice_h2.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#notice ul {list-style:none;margin:10px 0 0 0;}

#notice ul li {
	line-height:1.5em;
	padding:0 0 0 7px;
	background-image: url(../imgs/notice_li.gif);
	background-repeat: no-repeat;
	background-position: left center;
}