* {
	margin:0; padding:0; vertical-align: middle;
}

@font-face {
	font-family: 'NanumGothic'; /* 폰트 이름을 정의해 줍니다. 여기서는 */
	src:url(../imgs/nanum.eot); /* IE 하위 버전을 위한 eot 파일 경로 설정 */
	src:local('@'), url(../imgs/nanum.woff) format("woff"),
	url(../imgs/nanum.ttf) format("truetype");
	/* true type font 파일 경로 설정	 */

}

body {
	margin:0;
	padding:0;
	font-family: "Dotum", Arial.serif;
	font-size: 1em;
	color: #666;
	background-color: #FFF;
	/* 선긋기 */
	background-color: #FFF; /* 배경색을 흰색으로 */
	background-image: url(../imgs/body_back.gif); /* 배경 이미지 적용 */
	background-repeat: repeat-x; /* X축으로 반복 */
	background-position: top; /* 배경 이미지 위치 지정 */
}

img {border:none;}
a {text-decoration: none; color:#666;}
a:hover {color: #F60; text-decoration: none;}
.clear {clear:both;}
/* 기본 세팅 끝*/

/* 전체 홈페이지 폭설정 */
#wrap {
	width: 995px;
	margin: 0 auto;
	padding: 0;
}


/* index.php 세팅 */
header {
	margin-top: 20px;
}

header #logo {
	margin-left: 10px;
	float:left;
}

header #head_link {
	float: right;
	margin-right: 10px;
	font-size: 0.75em;
}

header #head_link ul {
	list-style: none; /* 리스트 스타일 제거*/
}

header #head_link li {
	float: left;
	padding:0 20px;
	border-right: 1px solid #999; /* 각 메뉴사이에 구분선 적용*/
}

header #head_link .no_line {border-right: none;}

header #search {
	margin: 0;
	padding: 0;
	float: right;
	margin-top:20px;
	margin-right: 10px;
}

header #search .main_input {
	width: 260px;
	height: 22px;
	border: #336699 3px solid;
	padding: 0 5px;
}

header #search .btn1{
	background-color: #369;
	border: solid 1px #369;
	color: #FFF;
	height: 28px;
	width: 55px;
	margin-left: 4px;
}

/* 메인 메뉴 시작 */

aside {
	float:left; /* 왼쪽으로 배치 */
	width: 205px; /* aside 폭의 크기 설정 */
}

nav {
	margin: 25px 0 0 10px; /* 상단 25픽셀 왼쪽으로 10픽셀의 공간적 여유 */
	font-size: 0.8em; /* 폰트 크기를 설정합니다. 기본 폰트 크기에서 0.8 em은 약 13픽셀 */
	font-family: 'NanumGothic'; /* @font-face에서 정의된 나눔고딕*/
}

nav ul {
	list-style: none;
}

nav ul li {
	padding: 5px 10px; text-transform: uppercase;
}

nav ul li h3 {
	border: 1px solid #CCC; /* 테두리 속성 지정 */
	width:50%;
	border-radius: 20px; /* border-radius 값을 조정 */
	padding: 5px 20px; /* 패딩값을 조절하여 상단 5픽셀 좌우 20픽셀의 값을 설정 */
	font-size: 14px; /* 폰트의 크기를 설정 */	
	text-transform: capitalize; /* 영문 첫 글자만 대문자로 */
	background-color: #e5e5e5; /* 배경 색상 설정 */
	background-image: url(../imgs/nav_back.jpg);
	background-repeat: repeat-x; /* 배경 이미지를 X 룩으로 반복 */
}

nav ul li ul li {
	padding: 0 0 0 30px; /* 왼쪽으로 패딩 20픽셀 적용*/
	line-height: 2em; /* 각 메뉴간의 간격을 2em 값으로 적용 */
}

nav ul li ul {
	margin: 5px 0 0 0; /* 마진값을 벌려서 간격을 조정해줌*/

}

nav ul li a:hover { text-indent: 30px;}

aside #banner {
	margin:10px 15px;
}

#notice {
	margin: 20px 0 15px 15px;
	font-size: 0.75em;
}

#notice h2 {
	font-family: 'NanumGothic';
	color: #336699; /* 색상 적용 */
	font-size: 1.1em;
	border-bottom: 1px solid #336699;
	padding: 2px 0 5px 10px;
	background-image: url(../imgs/notice_h2.gif);
	background-repeat: no-repeat;
	background-position: left center;

}

#notice ul {
	list-style: none;
	margin: 10px 0 0 0;
}

#notice ul li {
	line-height: 1.2em;
	padding: 0 0 0 7px; /* 패딩을 용하여 7픽셀 정도 여백처리*/
	background-image: url(../imgs/notice_li.gif);
	/* 배경 이용 리스트 이미지 변경 */
	background-repeat: no-repeat;
	background-position: left center;
}

/* 메인화면 아티클 부분 */
article {
	width: 775px; /* article 부분에 대한 폭 크기 설정 */
	float:right; /* 오른쪽으로 정돈 */
	margin: 20px 0 0 15px; /* 마진을 이용해서 위치 정렬*/
}

#bestseller, #dslr_lens, #laptop {
	width: auto; /* 폭은 자동ㅇ로 완성되고 앞서 */
	padding: 0 0 5px 0;
	font-size: 0.75em;
}

#bestseller h3, #dslr_lens h3, #laptop h3 {
	border-bottom: 1px solid #369;
	padding:0 0 5px 0;
	margin: 10px 0 5px 0;
	font-family: "NanumGothic", serif;
	font-size: 1.2em;
	color:#369;
	text-transform: uppercase;
}

#bestseller .book {
	width: 188px; /* 책의 폭 크기 설정 */
	text-align: center; /* 텍스트 가운데 정렬 */
	float:left; /* .book을 전부 왼쪽 정렬 */
	background-image: url(../imgs/vline_grey.gif);
	/* 배경 이미지를 이용해서 구분선 처리 */
	background-repeat: repeat-y;
	background-position: right;

	/* Hover시에 어긋나지 않게 보이지 않는 테두리를 쳐준다*/
	border: 2px solid #FFF;
}

#bestseller .book img {
	margin: 5px 0 0 0;
}

#bestseller .book, #bestseller .book .title,
#bestseller .book .writer, #bestseller .book .price {
	padding: 2px 0; /*  .book 세부 정보들에 대한 그룹핑과 상하 2픽셀씨 패딩 적용 */
	margin: 0;
}

#bestseller .book .sort {
	margin-top: 4px;
	/* .sort 부분만 상단 4픽셀 적용 세부 내용 전체적으로 4픽셀 적용 효과 */
}

#bestseller .book .title {
	font-weight: bold;
}

#bestseller .book.no_back {
	background-image: none;
}

#bestseller .book:hover {
	border: 2px solid #F00;
	background-image:none;
}

.link {
	display: block;
	position: absolute;
	width: 188px;
	height: 240px;
	z-index: 2;
	
	text-indent: 10000px;
}

#dslr_lens .goods, #laptop .goods{
	width: 170px;
	margin: 5px 29px 5px 0;
	border: 1px solid #999;
	padding: 15px 0;
	float: left;
	text-align: center;
}

#dslr_lens .goods .dslr_img, #laptop .goods .laptop_img{
	height: 110px; /*  이미지가 위치한곳의 높ㅇ이를 110 픽셀로 저장*/
	
}

#dslr_lends .goods .title, #dslr_lens .goods .price {
	padding: 5px 0;
	margin: 0;
}

article #ad_main_banner, article #ad_sub_banner {
	margin:10px 0;
}

#dslr_lens .goods.goods_right, #laptop .goods.goods_right {
	float: right;
	margin: 5px 0;
}

footer {
	font-size: 0.75em;
	margin: 10px 0 0 0;
	background-image: url(../imgs/foo_back.gif);
	background-repeat: repeat-x;
	background-position: top;	
}

footer ul {
	list-style: none;
	margin: 0 0 0 210px;
}

footer ul li {
	float:left;
	font-family: 'NanumGothic', serif;
	background-image: url(../imgs/foot_line.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

footer ul li a {
	font-size: 1.1em;
	display: block;
	padding: 5px 15px;
}

footer ul li.no_line{
	background-image: none;	
}

footer img {
	margin: 10px 0 0 40px;
	float: left;
	width: 150px;
}

footer #foot_note {
	margin: 10px 0 0 25px; /* 마진 이용 위치 설정함 */
	line-height: 1.5em;	   /* foot_note에 있는 텍스트의 줄 간격 확대*/
	float: left;		   /* foot_note 또한 왼쪽으로 float해서 로고 옆에 위치하게 됨*/
	width: 600px;	  	   /* foot_note의 크기를 정함*/
	padding: 0 0 20px;
}

