@charset "utf-8";@charset "utf-8";
/* CSS Document */

* {margin:0;padding:0; vertical-align:middle;}
@font-face { font-family:'NanumGothic';
			src:url(../imgs/nanum.eot); 
			src:local('☺'), url(../imgs/nanum.woff) format("woff") , url(../imgs/nanum.ttf) format("truetype");
}
body {
	margin:0;
	padding:0;
	font-family: "Dotum", Arial,serif;
	font-size: 1em;
	color: #666;
	background-color: #FFF;
	background-image:none;
}
img {border:none;}
a {text-decoration: none;color: #666;}
a:hover {color: #F60;text-decoration: none;}
.clear {clear:both;}
#outer_wrap {max-width:480px;margin:0 auto;padding:0;} 
#wrap {max-width:480px;;margin:0 auto;padding:0; float:left} 
header {
	margin-top:20px;
}
header #logo {
	margin-left:10px;
	float:left;
}

header #logo img {
	width:150px;
	height:auto;
}

header #head_link {display:none;}


header #search {
	margin:0 5px 0 0; 
	padding:0;
	float:right;
	margin-top:-5px;
}

header #search .main_input {
	width:150px;
	height:22px;
	border:#336699 3px solid;
	padding:0 5px;
}
header #search .btn1 {
	background-color:#336699;
	border:solid 1px #336699;
	color: #FFF;
	height:28px;
	width:55px;
	margin-left:2px;
} 

/* 메인 메뉴 시작 */

nav {
	margin:5px 0 0 5px;
	width:480px;
	font-size:0.8em;
	font-family:'NanumGothic', Serif;
	float:left; 
	background-color: #CCC;
	border-radius:10px;
}

nav ul {list-style:none;}
nav ul li { padding:5px 10px;text-transform: uppercase; float:left; }
nav ul li a {display:block;}

nav ul li h3 {
	border:1px solid #fff;
	font-size:11px;
	text-transform: capitalize;
}

nav ul li ul {margin:10px 0 0 0; float:left;;} 
nav ul li ul li {padding:0 0 0 20px;line-height: 2em;}

/* 배너 및 공지사항 */

aside {width:auto;}
aside #banner { display:none}
aside #notice {display:none}


/* article 부분 시작 */
article {
	width:480px;
	float:right;
	margin:20px 0 0 15px;
}

#bestseller, #dslr_lens, #laptop {
	width:auto;
	padding-top:7px;
	font-size:0.75em;
	
}

#bestseller h3, #dslr_lens h3, #laptop h3 {
	border-bottom:1px solid #369;
	padding:0 0 5px 0;
	margin:0 0 5px 10px;
	font-family:"NanumGothic", Serif;
	font-size:1.2em;
	color:#369;
	text-transform: uppercase;
}

#bestseller .book {
	width:110px;
	text-align:center;
	float:left;
	background-image: url(../imgs/vline_grey.gif);
	background-repeat: repeat-y;
	background-position: right;
	border:2px solid #FFF;
}
#bestseller .book img {
	margin:5px 0 0 0;
	width:85px;
	height:auto;
}

#bestseller .book:hover {
	border:2px solid #F00;
	background-image:none;
}

#bestseller .book.no_back {
	background-image:none;
}

#bestseller .book .sort, #bestseller .book .title, #bestseller .book .writer, #bestseller .book .price {
	padding:2px 0;
	margin:0;
}

#bestseller .book .sort {
	margin-top:4px;
}
#bestseller .book .title {
	font-weight:bold;
}

.link {
	display:block;
	position:absolute;
	width: 188px;
	height:230px;
	z-index:2;
}

#dslr_lens .goods, #laptop .goods {
	width:100px;
	margin:5px;
	border: none;
	padding:5px 0;
	float:left;
	text-align:center;
}

#dslr_lens .goods img , #laptop .goods img {
	width:85px;
	height:auto;
}

#dslr_lens .goods.goods_right, #laptop .goods.goods_right {
	float:left;
	margin:5px;
} 
#dslr_lens .goods .dslr_img, #laptop .goods .laptop_img {
	height:80px;
}

#dslr_lens .goods .title, #dslr_lens .goods  .price {
	padding:5px 0;
	margin:0;
}

#dslr_lens #laptop .title, #laptop .goods .price {
	padding:5px 0;
	margin:0;
}
/* 여기는 배너 부분 */
article #ad_main_banner, article #ad_sub_banner {display:none;}

/* 여기서 부터 리스트 페이지 시작 */


article hgroup {
	margin:10px 0;
}
article h1 {
	font-size:1.1em;
	padding:0 0 5px 0;
	font-family:'NanumGothic';
	border-bottom:2px solid #666;
	letter-spacing: 2px;
}

article h2 {
	font-weight:normal;
	font-size:0.75em;
	padding-top:5px ;
}

/* 새로 나온 책 */

section#new_book {
	width:auto;
	padding:7px 10px;
	margin-top:10px;
	font-size:0.75em;
	border:1px solid #666;
	border-radius:10px;	
	overflow: hidden;  
}

section#new_book  #carousel_inner {
	float:left; 
	width:725px; 
	overflow: hidden;  
} 


section#new_book #carousel_ul  {
	position:relative;
	left:-135px; /* important (this should be negative number of list items width(including margin) */
	list-style-type: none; /* removing the default styling for unordered list items */
	margin: 0px;
	padding: 0px;
	width:9999px; /* important */
	padding-bottom:10px;
}

section#new_book #carousel_ul li{
	float: left; /* important for inline positioning of the list items */                                    
	width:135px;  /* fixed width, important */
	padding:0px;
	margin:10px 5px;
	}

section#new_book #left_scroll, section#new_book #right_scroll{
	float:left; 
	width:14px;
	padding-top:70px; 
}


section#new_book h3 {
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	text-indent:-7000px;
	background-image:url(../imgs/list_box_title.png);
	background-repeat: no-repeat;
	background-position: left center;
	height:24px;
} 
section#new_book #book {
	text-align:center;
	float:left;
	width:135px; 
}
section#new_book #book img {
	margin:5px 0 0 0;
}

section#new_bookr #book.no_back {
	background-image:none;
}

section#new_book #book .sort, section#new_book #book .title, section#new_book #book .writer, section#new_book #book .price {
	padding:2px 0;
	margin:0;
}

section#new_book #book .sort {
	margin-top:4px;
}
section#new_book #book .title {
	font-weight:bold;
}
section#new_book #book .price {
	font-weight: bold;
	color: #F00;
}

section#new_book #book .price span{
	font-weight: normal;
	color: #333;
	text-decoration: line-through;
}

/* 정렬 */ 
article #sorting {
	width:auto;
	float:right;
	margin:10px 0 5px 0;
	font-size:0.75em;
}

article #sorting ul {
	list-style:none;
}
article #sorting ul li {
	float:left;
}

article #sorting ul li a {
	display:block;
	padding: 0 8px;
	border-right:1px solid #999;
}


/* 책 리스트  */


article table#list_view {
	width:100%;
	border-collapse:collapse;
	border-top:2px solid #333;
	font-size:0.75em;
	color:#333;
	margin-top:20px;
}


article table#list_view td {
	padding:10px 0;
	margin:0;
	border-bottom:1px dotted #999;	
}

article table#list_view h2 {
	font-size:1.2em;
	padding:0 0 2px 0;
	font-weight:bold;
}


article table#list_view td.goods_image {
	width:80px;
}

article table#list_view td.goods_description {
	width:500px;
	padding-left:5px;
}
article table#list_view td.goods_description .writer_press {
	padding:2px 5px;
	color: #36F;
}

article table#list_view td.goods_description p {
	line-height:1.2em;
}

article table#list_view td.price {
	width:70px;
	padding:0 0 0 10px;
	
}

article table#list_view td.price span {
	text-decoration: line-through;
}
article table#list_view td.price strong {
	font-weight: bold;
	color: #F00;
}

article table#list_view td.buy_btns {
	width:80px;
	padding-left:5px;	
}
article table#list_view td.buy_btns ul {
	list-style:none;
}
article table#list_view td.buy_btns ul li {
	margin:5px 0;
}
article table#list_view td.buy_btns ul li a {
	padding:5px 12px;
	text-align:center;
	display:block;
	border:1px solid #999;
	border-radius:3px;

}
article table#list_view td.buy_btns ul li a:hover {
	background-color: #003366;
	color: #FFF;
}

/* 페이지 컨트롤 부분 */

article #page_wrap {
	width:400px;
	margin:10px auto 50px auto;
	padding:0; 
}

article ul#page_control {	
	font-size:11px;
	padding:0;
	list-style:none;	
}

article ul#page_control li {
	padding:0 5px;
	float:left;
}
article ul#page_control li a {
	display:block;
	padding:2px 5px;
	border:1px solid #ccc;
}
article ul#page_control li a:hover {
	color:#f00;
	border:1px solid #f00;
}

article ul#page_control li a.no_border {
	border:none;
	padding-top:3px;
}

.active {
	font-weight:bold;
	color: #F00;
} 

article ul#page_control li .page_contrl_active {
	background: #FFF;	
	color: #F00;
	border:1px solid #f00;
}

/* 디테일 페이지  시작  */

article h3, article h4  {margin:5px 0;}
article h3 {font-size:1em; color:#0099FF;}
article h4 {font-size:0.8em; font-weight:normal;}


#goods_image, #detail_table { margin:10px 0 0 0;}
#goods_image {float:left;}

#goods_image figure {
	width:auto;
	text-align:center;
	padding:0 30px 0 0;
}
#goods_image figure img {
	width:150px;
	height:auto;
	border:1px solid #fff;
	box-shadow:2px 2px 25px #666;
}

#detail_table {float:left;font-size:0.75em;width:590px;}


#detail_table table {
	width:95%;
	border-collapse:collapse;
	border-top:2px solid #333;
	border-bottom:1px solid #333;	
	
}

#detail_table table td {padding:7px 0 7px 10px;}

#detail_table table tr.dot_line {border-bottom:1px dotted #666;}

#detail_table table td span {font-size:1.2em;font-weight:bold;	font-family:'NanumGothic', Serif;}

#detail_table table td.fixed {	width:110px;font-weight:bold;}

#detail_table ul {list-style:none;margin:20px 0 0 0;}

#detail_table ul li {float:left;padding:0 10px;}

#detail_table ul li a {
	display:block;
	width:150px;
	height:25px;
	text-align:center;
	padding-top:7px;
	border:2px solid #999;
	border-radius:5px;
	font-size:1.2em;
	font-weight:bold;
	font-family:'NanumGothic', Serif;
}

#detail_table ul li a.buy, #detail_table ul li a.cart, #detail_table ul li a.wish {
	background-repeat: no-repeat;
	background-position: 15px center;
}

#detail_table ul li a.buy {color:#FF0000;border-color: #FF0000;background-image: url(../imgs/check.png);}
#detail_table ul li a.cart {background-image: url(../imgs/cart.png);}
#detail_table ul li a.wish {background-image: url(../imgs/wish.png);}

#detail_table ul li a.buy:hover, #detail_table ul li a.cart:hover , #detail_table ul li a.wish:hover  {
	color: #000;
	background-color: #FC0;	
}




/* 탭 메뉴 */ 

#container {width:100%;margin:40px auto;}

ul.tabs {
	margin:0;
	padding:0;
	float:left;
	list-style:none;
	height:32px;
	border-bottom: 1px solid  #F00;
	width:100%;
}
ul.tabs li {
	float: left;
	padding:0;
	margin:0 1px;
	height: 31px;
	line-height: 31px; 
	border: 1px solid #999;
	border-bottom-color:#F00; 
	overflow: hidden;  
	background-color: #F5F5F5;
	border-top-left-radius:7px;
	border-top-right-radius:7px; 
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 12px;
	font-weight:bold;
	padding: 0 20px;
	outline: none;
}
ul.tabs li a:hover {
	background-color: #CAE4FF;
}	
ul.tabs li.active, ul.tabs li.active a:hover  {
	background: #fff;
	border-color:#F00; 
	border-bottom: 2px solid  #fff; 
}

/* 탭 메뉴 내부 내용 부분 */
.tab_container {
	border-top: none; 
	clear:both; 
	float:left; 
	width:100%; 
	background: #fff; 

}
.tab_content {
	padding: 10px 10px 20px 10px;
	min-height:400px;
	font-size:0.75em;
	line-height:1.8em;
}


.tab_content h4 {
	margin:10px 0;
	padding: 20px 0 5px 35px;
	font-family:'NanumGothic', Serif;
	font-size:16px;
	font-weight:bold;
	color: #FFF;
	background-image: url(../imgs/h4_back.png);
	background-repeat: no-repeat;
	background-position: left top;
	height:30px;
	letter-spacing:4px;
}

.tab_content p {
	margin:10px 0 0 0;
}
.tab_content img {
	margin: 10px;
	padding: 5px;
}

.tab_content .writer {
	margin:10px 0;
	border-bottom:1px solid #F90;
	padding:5px;
	font-size:1.2em;
	color:#000;
	font-weight:bold;	
}


/* footer */
footer {background-image: none;;}
footer ul {display:none;}
footer img {display:none;}
footer #foot_note {
	margin:10px 0 0 10px;
	float:left;
	width:460px;
	padding:0 0 20px 0;	
}

footer #foot_note div {display:none;}
#sticky {display:none;} 
